body {
	background-image: url("immagini/tavolo-texture.jpg");
	background-repeat: no-repeat;
	/* background-position: center; */
	height: 100vh;
	width: 100vW;
	margin: 0;
	overflow: hidden;
	background-size: cover;
}

#spazioDiGioco {
	position: relative;
	margin: auto;
	top: 0;
}


#bordoScacchiera {
	background-image: url("immagini/wood-texture.jpg");
	background-size: 1920px,1080px;
	background-position: center;
	position: relative;

	margin: 0px auto auto;
	top: 100px;
	border: 20px solid transparent;
	border-image: url("immagini/bordo.png") 100 stretch;

	width: 640px;

	padding: 0;
	
	box-shadow: 0 0 25px 5px rgba(0,0,0, 0.8);
	/*transform: rotateX(45deg);*/

	animation: fadeIn 1.5s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.restart {
	position: absolute;
	z-index: 1;
}

#bottoneRestart {
	animation: fadeIn 1.5s;
	width: 100px;
	height: 100px;	
	transition: 0.3s;
}

#bottoneRestart:hover {
	width: 120px;
	height: 120px;	
}


.game, #result {
	position: absolute;
	size: 700px;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}

#result {
	display: none;
	background-color: rgba(0, 0, 0, 0.456);
	backdrop-filter: blur(5px);
	height: 100vh;
	width: 100vW;
	z-index: 1;
}

#result img{
	margin-top: 90px;
	width: 700px;
	height: 700px;
	z-index: 1;
}

#bottone{
	margin-top: 340px;
	width: 421px;
	height: 207px;
	z-index: 1;
	transition: 0.3s;
}

#bottone:hover{
	width: 510px;
	height: 250px;
}






table{
	margin: auto;
	border: 5px;
	border-collapse: collapse;
	/*border-style: solid;
  	border-color: rgb(230, 230, 230);*/
	box-shadow: 0 0 20px 15px rgba(0,0,0, 0.8) inset;
}



td {
	border-collapse: collapse;
	width: 80px;
	height: 80px;
	margin: 0;
	padding: 0;
}


tr {
	border-collapse: collapse;
	margin: 0;
	padding: 0;
}



.bianco{
  background-color: rgb(244, 235, 216);
}

.nero{
  background-color: rgba(150, 75, 0, 0.5);
}

img{
	display: block;
	margin: auto;
	height: 70px;
	width: 70px;
	padding: 0;
	user-select: none;
}


.selezionato{
	/*background-color: rgba(255, 255, 255, 0.5);*/
	background-image:  url("immagini/selezione.png") ;
	background-size: 180px;
	background-repeat: no-repeat;
   	background-position: center;	
}

.mosse {
	background-image: url("immagini/mosse.png");
	background-size: 130px;
	background-repeat: no-repeat;
   	background-position: center;	
}

.mangia {
	background-image: url("immagini/mangia.png");
	background-size: 80px;
	background-repeat: no-repeat;
	background-position: center;
}


.scacco {
	background-image: url("immagini/check.png");
	background-size: 180px;
	background-repeat: no-repeat;
	background-position: center;
}

#eliminatinero {
	float: left;
	position: relative;
	background-color: rgba(0,0,0,0.4);
	border-radius: 13px;
	padding:0;
	margin-left:40px;
	top:100px;
	max-height: 640px;
	overflow:auto;
}

#eliminatibianco {
	float: right;
	position: relative;
	background-color: rgba(0,0,0,0.4);
	border-radius: 13px;
	padding:0;
	margin-right:40px;
	top:100px;
	max-height: 640px;
	overflow:auto;
}


ul{
	list-style-type: none;
}

#listaPedoneBianco, #listaPedoneNero {
	padding: 0;
	background-color: rgba(0,0,0,0.4);
	border-radius: 13px;
	display: none;
	margin: 20px auto auto;
	width: 293px;
	position: absolute;
	z-index: 1;
	left: calc(50vw - 146px);
}

#listaPedoneNero {
	top: 770px;
}

#listaPedoneBianco li, #listaPedoneNero li  {
	display: inline-block;
}


