@font-face {
	font-family: "Velocista";
	src: url('../../dafont/Velocista-Demo-FFP.ttf');
}

@font-face {
	font-family: "Fast Forward";
	src: url("../../dafont/Fast\ Forward.ttf");
}

body{
    background-image:url("../../images/home-preGame-record/sfondoHS.jpg");
    background-size: cover;
    background-position: 0px;
    overflow: hidden;
}

#HS,#SB{
    width:100%;
    height: 100%;
}

#HS *,#SB *{
    text-align: center;
    font-family: sans-serif;
}

#HS h1,#SB h1{
    color:#b06130;
    font-family: impact, sans-serif;
    font-size:1300%;
    margin:0 10px;
    text-shadow: 5px 5px #703916;
}

table{
    width: 60%;
    height: 40%;
    margin:auto;
}

#Ins{
    font-size:300%;
    margin-top:100;
    display:flex;
    justify-content: center;
    align-items: stretch;
}

#Ins input{
    margin-left:20px;
    border:0;
    font-size: 40;
    width:320px;
    background-color:rgba(0, 0, 0, 0.5);
    color:white;
}

#Ins label{
    color:white;
    text-shadow: 3px 3px rgba(255, 255, 255, 0.3);
}

#HS p:first-of-type{
    font-size: 650%;
    margin-top:125;
    font-family: sans-serif;
    color:#860004;
    text-shadow: 3px 3px #220102;
}

#HS p:last-of-type{
    color:rgba(69, 69, 69, 0.564);
    font-size: larger;
}

#SB table{
    margin-top:60px;
}

#SB td{
    background-color: rgba(0, 0, 0, 0.6);
    color:white;
}

#legenda td{
    font-family: Velocista;
    font-size: 50px;
    color: #ffe04f;
    text-shadow: 3px 3px #946a00;
}

.posiz{
    font-weight:bold;
    font-size: 25px;
}

#SB a{
    font-family: "Fast Forward";
    text-decoration:none;
    color:white;

    margin-top: 50px;

    display:flex;
    justify-content: center;
}